.wrap {
  padding: 20px;
}

.movieWrap {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.span {
  font-size: 20px;
}

.image {
  width: 250px;
}

.genres {
  padding-left: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
